@model LogInViewModel

@{
    ViewBag.Title = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .logo {
            margin-top: 70px;
        }
    </style>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
</head>
<body class="login">
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index"><h2> HMS | Admin Login</h2></a>
            </div>

            <div class="box-login">
                @using (Html.BeginForm("AdminLogin", "Account", FormMethod.Post))
                {
                    <fieldset>
                        <legend>
                            Sign in to your account
                        </legend>
                        <p>
                            Please enter your name and password to log in.<br />
                            <span style="color:red;"></span>
                        </p>
                        <div class="form-group">
                            <span class="input-icon">
                                @Html.TextBoxFor(temp => temp.EmailAddress, new { placeholder = "Email", @class = "form-control" })
                                @Html.ValidationMessageFor(temp => temp.EmailAddress, null, new { @class = "text-danger" })
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <div class="form-group form-actions">
                            <span class="input-icon">
                                @Html.PasswordFor(temp => temp.Password, new { placeholder = "Password", @class = "form-control" })
                                @Html.ValidationMessageFor(temp => temp.Password, null, new { @class = "text-danger" })
                                <i class="fa fa-lock"></i>
                            </span><a asp-area="" asp-controller="Account" asp-action="ForgotPassword">
                                Forgot Password ?
                            </a>
                        </div>
                        <div class="form-group error">
                            @if (@ViewBag.error != null)
                            {

                                <label style="color:red;"> @ViewBag.error</label>
                            }
                        </div>
                        <div class="form-actions">

                            <button type="submit" class="btn btn-primary pull-right" name="submit">
                                Login <i class="fa fa-arrow-circle-right"></i>
                            </button>
                        </div>
                        <div class="new-account">
                            Don't have an account yet?
                            <a asp-area="" asp-controller="Account" asp-action="AdminSignUp">
                                Create an account
                            </a>
                        </div>
                    </fieldset>
                }
            </div>

        </div>
    </div>


</body>
<!-- end: BODY -->
</html>